/* Стили для кнопки */
.btn {
  font-family: "Montserrat SemiBold";
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 1rem;
  line-height: var(--leading-dense);
  font-weight: var(--text-semibold);
  padding: 10px;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  outline: 0;

  &:hover {
    background-color: var(--color-gray-300);
  }

  &.btn--auth {
    font-size: 1.375rem;
    padding: 15px 60px;
    background-color: var(--color-blue-500);
    &:hover {
      transform: scale(1.1);
      background-color: var(--color-blue-600);
    }
    &:active {
      transform: scale(1.05);
    }
    &:focus-visible {
      outline: 4px solid var(--color-blue-500);
    }
  }

  &.btn--back {
    font-size: 1.2rem;
    background-color: var(--color-gray-300);
    border: 2px solid var(--color-gray-200);
    padding: 15px 30px;

    &:hover {
      border: 2px solid var(--color-gray-300);
      background-color: var(--color-gray-500);
    }

    &:focus-visible {
      color: var(--color-black);
    }
  }

  &.btn--reload {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: var(--color-red-400);
    align-items: center;
    &:hover {
      transform: scale(1);
      background-color: var(--color-red-600);
    }
    &:active {
      transform: scale(0.95);
    }
    &:focus-visible {
      outline: 3px solid var(--color-red-600);
    }
  }
}

/* Кнопка закрытия для toast и модальных окон */
.btn--close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  align-self: baseline;
  & svg {
    color: var(--color-white);
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--color-red-300);
    }
  }
}

@media screen and (max-width: 768px) {
  .btn {
    &.btn--back,
    &.btn--reload {
      padding: 12px 24px;
    }
    &.btn--auth {
      padding: 12px 50px;
    }
  }
}
