.container {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 70px;
  color: var(--color-white);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  font-size: 6rem;
  line-height: var(--leading-none);
  animation: global(fade-up) 0.5s ease-out 0.3s both;
}

.description {
  font-size: 1.3rem;
  letter-spacing: 2px;
  opacity: 0.9;
  animation: global(fade-up) 0.5s ease-out 0.4s both;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  animation: global(fade-up) 0.5s ease-out 0.6s both;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding-inline: 10px;
    gap: 30px;
  }
}

@media screen and (max-width: 640px) {
  .menu {
    flex-direction: column;
    & button {
      width: 100%;
    }
  }
}
