# Frontend
node_modules/
npm-debug.log*

# Backend
backend/routing/app/__pycache__/
backend/routing/app/data/
.pip-cache/
*.pyc
*.pyo
*.pyd
*.py[cod]
.Python
venv/
.venv/
env/
data/
.env/

# Общие
.git/
.gitignore
.gitattributes
README.md
Dockerfile
.dockerignore

# Логи
*.log
*.tmp
*.temp

# IDE
.vscode/