/* Форма авторизации */
.auth,
.register {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  color: var(--white);
  padding-inline: 20px;
}

.auth__form,
.register__form {
  width: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & button {
    animation: fade-up 0.5s ease-in-out 0.8s backwards;
    margin-top: 25px;
  }
}

.auth__form--logo,
.register__form--logo {
  width: 70px;
  animation: fade-up 0.5s ease-in-out 0.2s both;
}

.auth__form--title,
.register__form--title {
  margin-bottom: 50px;
  animation: fade-up 0.5s ease-out 0.4s both;
}

.auth__form--label,
.register__form--label {
  align-self: baseline;
  font-size: 1.15rem;
  line-height: 1.2;
  margin-bottom: 8px;
  animation: fade-up 0.5s ease-in-out 0.6s both;
  &:not(:first-of-type) {
    margin-top: 25px;
  }
}

.auth__form--input,
.register__form--input {
  width: 100%;
  display: block;
  font-size: 1.25rem;
  line-height: 1.25;
  padding: 10px 15px;
  border-radius: 14px;
  border: 0;
  outline: 0;
  animation: fade-up 0.5s ease-in-out 0.6s both;

  &:focus,
  &:focus-visible {
    box-shadow: var(--input-glow);
  }
}

.auth__form--error,
.register__form--error {
  font-weight: 500;
  align-self: baseline;
  color: var(--error);
  margin-block-start: 6px;

  &.main--error {
    font-weight: 700;
    font-size: 1.2rem;
    align-self: center;
    margin-block-start: 15px;
  }
}

.auth__link,
.register__link {
  font-size: 1.1rem;
  line-height: 1.2;
  color: var(--white);
  margin-top: 20px;
  outline: 0;
  transition: color 0.3s ease;
  animation: fade-up 0.5s ease-in-out 0.8s both;

  &:hover {
    color: var(--blue);
  }
  &:focus-visible {
    color: var(--blue);
  }
}

@media screen and (max-width: 768px) {
  .auth__form,
  .register__form {
    width: 100%;
  }

  .auth__form--title,
  .register__form--title {
    font-size: 2.6rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 640px) {
  .auth__form,
  .register__form {
    & button {
      width: 100%;
    }
  }
  .auth__form--logo,
  .register__form--logo {
    width: 55px;
  }
}
