.success {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-inline: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: calc(16px * 3);
  color: var(--color-white);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 2.3rem;
}

.description {
  font-size: 1.15rem;
  opacity: 0.8;
}

.link {
  font-size: 1.2rem;
  padding: 10px 40px;
  color: var(--color-white);
  background-color: var(--color-blue-500);
  border: none;
  border-radius: var(--radius-full);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-blue-600);
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.9rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .container {
    gap: calc(16px * 2);
  }
}
