/* === OVERLAY === */
.graphOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
}

.graphOverlayMessage {
  font-size: 1.5rem;
  font-weight: var(--text-bold);
  color: var(--color-gray-800);
}

.routeOverlay {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  z-index: 900;
  background-color: var(--color-gray-700);
  backdrop-filter: blur(3px);
  padding: 10px 14px;
  border-radius: 8px;
  pointer-events: none;
}
