/* Стили для кнопки */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  padding: 10px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  outline: 0;

  &:hover {
    background-color: var(--grey);
  }

  &.btn--auth {
    font-size: 1.375rem;
    padding: 15px 60px;
    background-color: var(--btn-auth);
    &:hover {
      transform: scale(1.1);
      background-color: var(--btn-auth-hover);
    }
    &:active {
      transform: scale(1.05);
    }
    &:focus-visible {
      outline: 4px solid var(--btn-border);
    }
  }

  &.btn--back {
    font-size: 1.2rem;
    background-color: var(--grey);
    border: 2px solid var(--light-grey);
    padding: 15px 30px;

    &:hover {
      border: 2px solid var(--grey);
      background-color: var(--grey-hover);
    }

    &:focus-visible {
      color: var(--black);
    }
  }

  &.btn--reload {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: var(--red);
    align-items: center;
    &:hover {
      transform: scale(1);
      background-color: var(--red-hover);
    }
    &:active {
      transform: scale(0.95);
    }
    &:focus-visible {
      outline: 3px solid var(--red-hover);
    }
  }
}

/* Кнопка закрытия для toast и модальных окон */
.btn--close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  align-self: baseline;
  & svg {
    color: var(--white);
    display: block;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--error);
    }
  }
}

/* Кнопка для осуществления выхода из аккаунта */
.dropdown-menu__button {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 20px;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px;
  color: var(--white);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background-color 0.4s ease;
  & svg {
    display: block;
  }

  &:hover {
    background-color: rgba(239, 68, 68, 0.1);
    & svg {
      transition: color 0.25s ease;
      color: var(--error);
    }
  }
}

@media screen and (max-width: 768px) {
  .btn {
    &.btn--back,
    &.btn--reload {
      padding: 12px 24px;
    }
    &.btn--auth {
      padding: 12px 50px;
    }
  }
}
