/* Блок аналитики */
.analytics {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3fr 1fr;
  row-gap: 40px;
  min-height: 70vh;
  padding-inline: 45px;
}

.analytics__chart,
.analytics__filter {
  background-color: var(--white);
  border-radius: 25px;
  padding: 25px;
}

.analytics__chart {
  & h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.analytics__filter {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  column-gap: 10%;
}

.analytics__filter--group {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 25px;
  border-radius: 16px;
  background-color: var(--filter-background);

  & h3 {
    text-align: center;
  }
}

/* Стили для radio-button */
.radio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 30px;
}

.radio__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--title);
  padding-left: 32px;
  min-height: 22px;
  cursor: pointer;
}

.radio__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio__custom--item {
  position: absolute;
  inset: 0;
  height: 22px;
  width: 22px;
  background-color: var(--white);
  border: 1px solid var(--title);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
}

.radio__input:checked ~ .radio__custom--item {
  border-color: var(--blue);
  background-color: var(--white);
}

.radio__input:checked ~ .radio__custom--item::after {
  content: "";
  position: absolute;
  inset: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--blue);
  transform: translate(-50%, -50%);
}

.radio__label:hover .radio__custom--item {
  border-color: var(--blue);
}

.radio__input:disabled ~ .radio__custom--item {
  background-color: var(--light-grey);
  border-color: var(--light-grey);
  cursor: not-allowed;
}

/* Плавное появление элементов */
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Анимация открытия dropdown меню */
@keyframes dropdownOpen {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Анимация закрытия dropdown меню */
@keyframes dropdownClose {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
