:root {
  /* font */
  --text-lg: 16px;
  --text-md: 15px;
  --text-sm: 14px;

  /* TODO: поменять названия */

  /* Colors */
  --black: #121113;
  --white: #f7f9f7;
  --blue: #1890ff;
  --dark-blue: #2b3a55;
  --green: #44944a;
  --gradient-green: #3c896d;
  --orange: #ffa500;
  --red: #d80012;
  --red-hover: #b6000f;
  --light-grey: #bbc7ce;
  --grey: #707070;
  --grey-hover: #535353;
  --dark-grey: #353535;

  --error: #fb4d3d;

  /* Фон и тени */
  --background-phone: linear-gradient(134deg, #1e2a38 0%, #2b2b2b 100%);
  --block-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  --input-glow: 0px 0px 20px 2px rgba(24, 144, 255, 0.4);

  /* Стили для кнопки */
  --btn-auth: #006bd0;
  --btn-auth-hover: #00529f;
  --btn-border: rgb(13, 78, 255);

  /* Стили для блока с фильтрами */
  --filter-background: #ececec;
  --title: #555;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  color: var(--black);
}

html {
  font-size: var(--text-lg);
}

body {
  font-family: "Montserrat", sans-serif, -apple-system;
  background: var(--background-phone);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.25;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

svg {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 992px) {
  html {
    font-size: var(--text-md);
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: var(--text-sm);
  }
}
