:root {
  /* === Типографика === */
  --text-base: 16px;
  --text-sm: 15px;
  --text-xs: 14px;

  /* Line-height */
  --leading-none: 1;
  --leading-dense: 1.2;
  --leading-tight: 1.25;
  --leading-normal: 1.5;

  /* Font-weight */
  --text-light: 300;
  --text-regular: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bold: 700;

  /* === Цветовая палитра === */
  --color-black: #121113;
  --color-white: #f7f9f7;

  --color-gray-100: #ececec;
  --color-gray-200: #bbc7ce;
  --color-gray-300: #707070;
  --color-gray-400: #555;
  --color-gray-500: #535353;
  --color-gray-600: #3d3d3d;
  --color-gray-700: #353535;
  --color-gray-900: #2b2b2b;

  --color-blue-300: #1890ff;
  --color-blue-500: #006bd0;
  --color-blue-600: #00529f;
  --color-blue-800: #2b3a55;
  --color-blue-900: #1e2a38;

  --color-green-400: #44944a;
  --color-emerald: #3c896d;

  --color-orange: #ffa500;

  --color-red-300: #fb4d3d;
  --color-red-400: #d80012;
  --color-red-600: #b6000f;

  /* Тени */
  --shadow-base: 0 2px 6px rgba(0, 0, 0, 0.3);
  --shadow-glow: 0px 0px 20px 2px rgba(24, 144, 255, 0.4);

  /* Градиенты */
  --gradient-dark: linear-gradient(
    134deg,
    var(--color-blue-900) 0%,
    var(--color-gray-900) 100%
  );

  /* Закругления (border-radius) */
  --radius-1: 4px;
  --radius-2: 8px;
  --radius-3: 12px;
  --radius-4: 16px;
  --radius-6: 24px;
  --radius-round: 50%;
  --radius-full: 9999px;

  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: var(--leading-normal);
  font-weight: var(--text-regular);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  color: var(--color-black);
}

html {
  font-size: var(--text-base);
}

body {
  background: var(--gradient-dark);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: var(--leading-tight);
}

a {
  font-weight: var(--text-medium);
  text-decoration: inherit;
}

svg {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 992px) {
  html {
    font-size: var(--text-sm);
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: var(--text-xs);
  }
}
