/* Map */
.leaflet-container {
  border-radius: var(--radius-2);
}

/* Search input */
.leaflet-control-geosearch.leaflet-geosearch-bar {
  width: 450px;
  margin-top: 12px;

  & form {
    display: grid;
    grid-template-columns: 1fr 36px;
    align-items: center;
    border-radius: var(--radius-2);
    border: 1px solid var(--color-gray-300) !important;
  }

  & input {
    font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
    font-size: 1rem;
    font-weight: var(--text-regular);
    height: 36px !important;
    border: none;
    outline: 0;
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: clip;
  }

  & button {
    position: relative !important;
    height: 36px !important;
    width: 36px !important;
    font-size: 1.5rem;
    font-weight: var(--text-medium) !important;
    outline: 0;
    &:hover {
      color: var(--color-red-400);
    }
    &:focus-visible {
      color: var(--color-red-400);
    }
  }
}

.leaflet-control-geosearch .results.active {
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
  font-weight: var(--text-regular);
  overflow-x: hidden !important;
  grid-column: span 2;
}

/* Zoom */
.leaflet-control-zoom {
  border: 1px solid var(--color-gray-300) !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: var(--color-gray-700) !important;
  color: var(--color-gray-200) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40px !important;
  height: 40px !important;
  outline: 0;

  &:hover {
    background-color: var(--color-gray-600) !important;
  }

  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: 0;
    background-color: var(--color-gray-600) !important;
  }
}

/* Attribution Control */

.leaflet-control-attribution {
  padding: 2px 24px !important;
  margin: 0 10px 5px 0 !important;
  border-radius: var(--radius-full) !important;
  & > a {
    color: var(--black) !important;
  }
}
