body,
html {
  color: black;
  margin: 0;
  padding: 0;
}

.map {
  position: relative;
}

.map__container {
  height: 100vh;
  width: 100%;
}

.legend {
  z-index: 1000;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"] {
  margin: 0;
  margin-right: 8px;
}

.legend__title {
  margin-top: 0;
  margin-bottom: 8px;
}

.legend__indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.legend__indicator:where(.indicator-green) {
  background-color: green;
}

.legend__indicator:where(.indicator-orange) {
  background-color: orange;
}

.legend__indicator:where(.indicator-red) {
  background-color: red;
}

.legend__total-route {
  margin-top: 8px;
}

.legend__total-route p {
  display: inline;
  font-weight: 700;
}

/* Форма авторизации */

.auth{
  background: linear-gradient(134deg, #1e2a38 0%, #2b2b2b 100%);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__form {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__title {
  font-size: 60px;
  line-height: 1.216667;
  margin-bottom: 60px;
}

.auth__label {
  align-self: baseline;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.auth__input {
  box-sizing: border-box;
  min-width: 660px;
  display: block;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  border-radius: 14px;
  font-size: 20px;
  line-height: 1.2;
}

.input-user, .input-password {
  margin-bottom: 20px;
}

/* Стили для кнопки */
.btn {
  border: 0;
  border-radius: 10px;
  padding: 15px 60px;
  font-size: 22px;
  line-height: 1.227;
  font-weight: 600;
  background-color: #1890FF;
  color: white;
}

.btn:hover {
  background-color: #2F7EC8;
}
