:root {
  /* Основные цвета */
  --black: #000;
  --white: #fff;
  --blue: #1890ff;
  --green: #44944a;
  --orange: #ffa500;
  --red: #e32636;
  --grey: #ddd;

  /* Фон и тени */
  --background: linear-gradient(134deg, #1e2a38 0%, #2b2b2b 100%);
  --block-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  --input-glow: 0px 0px 20px 2px rgba(24, 144, 255, 0.4);

  /* Стили для кнопки */
  --btn-hover: #2f7ec8;
  --btn-border: rgb(13, 78, 255);
  --btn-shadow: 0px 0px 20px 2px rgba(24, 144, 255, 0.2);

  /* Стили для блока с фильтрами */
  --filter-background: #ececec;
  --title: #555;
}

body,
html {
  color: var(--black);
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}

/* Шапка */

header {
  width: 100%;
  padding: 25px 0;
  margin-bottom: 20px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 45px;
}

.header__logo img {
  width: 60px;
}

.header__navbar ul {
  display: flex;
  column-gap: 76px;
}

.header__item {
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
}

.header__item.active {
  color: var(--blue);
}
.header__item:hover {
  color: var(--blue);
}

/* Карта и легенда */

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.map__container {
  position: relative;
  margin: 0 auto;
  height: 80vh;
  width: 90%;
  outline: 0;
}

.legend {
  z-index: 1000;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--block-shadow);
}

input[type="checkbox"] {
  margin: 0;
  margin-right: 8px;
}

.legend__title {
  margin-top: 0;
  margin-bottom: 8px;
}

.legend__indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.legend__indicator:where(.indicator-green) {
  background-color: var(--green);
}

.legend__indicator:where(.indicator-orange) {
  background-color: var(--orange);
}

.legend__indicator:where(.indicator-red) {
  background-color: var(--red);
}

.legend__total-route {
  margin-top: 8px;
}

.legend__total-route p {
  display: inline;
  font-weight: 700;
}

/* Форма авторизации */

.auth {
  color: var(--white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__form {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__form img {
  width: 80px;
}

.auth__title {
  font-size: 60px;
  line-height: 1.216667;
  margin-bottom: 60px;
}

.auth__label {
  align-self: baseline;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.auth__input {
  box-sizing: border-box;
  min-width: 660px;
  display: block;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  border-radius: 14px;
  font-size: 20px;
  line-height: 1.2;
}

.auth__input:focus,
.auth__input:focus-visible {
  box-shadow: var(--input-glow);
}

.input-user,
.input-password {
  margin-bottom: 20px;
}

.auth__registration {
  font-size: 20px;
  line-height: 1.2;
  color: var(--blue);
  margin-top: 20px;
}

.auth__registration:hover {
  color: var(--btn-hover);
}

/* Стили для кнопки */
.btn {
  border: 0;
  border-radius: 10px;
  padding: 15px 60px;
  font-size: 22px;
  line-height: 1.227;
  font-weight: 600;
  background-color: var(--blue);
  color: var(--white);
  outline: 0;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:focus-visible {
  outline: 4px solid var(--btn-border);
}

.btn:hover,
.btn:focus-visible {
  box-shadow: var(--btn-shadow);
}

/* Блок аналитики */
.analytics {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3fr 1fr;
  row-gap: 40px;
  min-height: 70vh;
  padding-inline: 50px;
}

.analytics__chart,
.analytics__filter {
  background-color: var(--white);
  border-radius: 25px;
  padding: 25px;
}

.analytics__chart h2 {
  text-align: center;
  margin-bottom: 20px;
}

.analytics__filter {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  column-gap: 5vw;
}

.analytics__filter-group {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 25px;
  border-radius: 20px;
  background-color: var(--filter-background);
}

.analytics__filter-group h3 {
  text-align: center;
}

.radio {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 15px;
}

.radio__label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--title);
  padding-left: 30px;
}

.radio__input {
  position: absolute;
  opacity: 0;
}

.radio__custom-item {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: var(--white);
  border: 1px solid var(--title);
  border-radius: 50%;
}

.radio__input:checked ~ .radio__custom-item {
  background-color: var(--grey);
  border-color: var(--title);
}

.radio__input:checked ~ .radio__custom-item::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--blue);
}

.radio-label:hover .radio__custom-item {
  border-color: var(--blue);
}
