body {
  color: black;
}

.map {
  position: relative;
}

.map__container {
  height: 100vh;
  width: 100%;
}

.legend {
  z-index: 1000;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

input[type='checkbox'] {
  margin: 0;
  margin-right: 8px;
}

.legend__title {
  margin-top: 0;
  margin-bottom: 8px;
}

.legend__indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

.legend__indicator:where(.indicator-green) {
  background-color: green;
}

.legend__indicator:where(.indicator-orange) {
  background-color: orange;
}

.legend__indicator:where(.indicator-red) {
  background-color: red;
}

.legend__total-route {
  margin-top: 8px;
}

.legend__total-route p {
  display: inline;
  font-weight: 700;
}
