/* Стили для header */
header {
  width: 100%;
  padding-block: 25px;
  margin-bottom: 20px;

  & .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 45px;
  }
}

.header__logo {
  cursor: pointer;
  transition: opacity 0.2s ease;
  user-select: none;
  &:hover {
    opacity: 0.85;
  }

  & img {
    width: 60px;
  }
}

.header__navbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 50px;
  & li {
    font-size: 1.25rem;
  }
}

.header__item {
  display: block;
  color: var(--white);
  transition: color 0.25s ease-in-out;
  border-bottom: 2px solid transparent;
  outline: 0;

  &.active {
    color: var(--blue);
  }
  &:hover {
    color: var(--blue);
  }
  &:focus-visible {
    border-color: var(--blue);
  }
}

/* Стили для burger-menu */
.navigation__burger {
  display: none;
  background-color: transparent;
  border: none;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.navigation__list {
  display: flex;
  column-gap: 76px;
  z-index: 120;
}

/* Стили для dropdown меню профиля */
.header__user-profile {
  appearance: menulist-button;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 50%;
  border: 1px solid var(--btn-border);
  cursor: pointer;
  outline: 0;
  transition: background-color 0.2s ease, transform 0.1s ease;

  & span {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }

  &:hover,
  &:focus-visible {
    transform: scale(1.05);
    background-color: var(--btn-auth);
  }
}

.dropdown-menu {
  position: absolute;
  top: 70px;
  right: 0;
  width: 250px;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: var(--block-shadow);
  z-index: 110;

  &.active {
    animation: dropdownOpen 0.3s ease-in-out;
  }

  &.closing {
    animation: dropdownClose 0.3s ease-in-out;
  }
}

.dropdown-menu__header,
.dropdown-menu__logout {
  color: var(--white);
}

.dropdown-menu__header {
  background-color: var(--dark-blue);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px;

  & .dropdown-menu__header--username,
  & .dropdown-menu__header--email {
    display: block;
  }

  & .dropdown-menu__header--username {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 4px;
  }

  & .dropdown-menu__header--email {
    color: var(--light-grey);
    font-style: italic;
  }
}

.dropdown-menu__content {
  background-color: var(--dark-grey);
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 16px;
  color: var(--white);
  background-color: transparent;
  transition: background-color 0.4s ease;
  &:hover {
    background-color: rgba(43, 58, 85, 0.5);
  }
}

.dropdown-menu__logout,
.header-menu__login {
  display: flex;
  align-items: center;
  background-color: var(--dark-grey);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.header-menu__login {
  border-radius: 12px;
}

/* Разделитель между блоками */
.dropdown-menu__separator {
  height: 1px;
  border: none;
  background-color: var(--grey);
}

@media screen and (max-width: 768px) {
  header {
    & .container {
      padding-inline: 20px;
    }
  }

  .header__navbar {
    flex-direction: row-reverse;
  }

  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & img {
      width: 50px;
    }
  }

  .header__item {
    padding: 12px 10px;
  }

  .navigation__burger {
    display: block;
    z-index: 110;
  }

  .navigation__list {
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
    flex-direction: column;
    padding: 20px;
    background-color: var(--dark-grey);
    border-radius: 12px;
    opacity: 0;
    box-shadow: var(--block-shadow);

    &.active {
      display: block;
      animation: dropdownOpen 0.3s ease-in-out;
      opacity: 1;
    }
  }
}
