/* Стили для header */
header {
  width: 100%;
  padding-block: 25px;
  margin-bottom: 20px;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 45px;
  }
}

.header__logo {
  cursor: pointer;
  transition: opacity 0.2s ease;
  user-select: none;
  &:hover {
    opacity: 0.85;
  }

  & img {
    width: 60px;
  }
}

.header__navbar {
  display: flex;
  align-items: center;
  gap: 50px;
  & ul {
    display: flex;
    column-gap: 76px;
  }
  & li {
    font-size: 1.25rem;
  }
}

.header__item {
  display: block;
  color: var(--white);
  transition: color 0.25s ease-in-out;

  &.active {
    color: var(--blue);
  }
  &:hover {
    color: var(--blue);
  }
}

/* Стили для dropdown меню профиля */
.header__user-profile {
  appearance: menulist-button;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 50%;
  border: 1px solid var(--btn-border);
  cursor: pointer;
  outline: 0;
  transition: background-color 0.2s ease, transform 0.1s ease;

  & span {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }

  &:hover,
  &:focus-visible {
    transform: scale(1.05);
    background-color: var(--btn-auth);
  }
}

.dropdown-menu {
  position: absolute;
  top: 70px;
  right: 0;
  width: 250px;
  border-radius: 16px;
  background-color: var(--white);
  z-index: 100;

  &.active {
    animation: dropdownOpen 0.3s ease-in-out;
  }

  &.closing {
    animation: dropdownClose 0.3s ease-in-out;
  }
}

.dropdown-menu__header,
.dropdown-menu__logout {
  color: var(--white);
}

.dropdown-menu__header {
  background-color: var(--dark-blue);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px;

  & .dropdown-menu__header--username,
  & .dropdown-menu__header--email {
    display: block;
  }

  & .dropdown-menu__header--username {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 4px;
  }

  & .dropdown-menu__header--email {
    color: var(--light-grey);
    font-style: italic;
  }
}

.dropdown-menu__content {
  background-color: var(--dark-grey);
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 16px;
  color: var(--white);
  background-color: transparent;
  transition: background-color 0.4s ease;
  &:hover {
    background-color: rgba(43, 58, 85, 0.5);
  }
}

.dropdown-menu__logout,
.header-menu__login {
  display: flex;
  align-items: center;
  background-color: var(--dark-grey);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.header-menu__login {
  border-radius: 12px;
}

/* Разделитель между блоками */
.dropdown-menu__separator {
  height: 1px;
  border: none;
  background-color: var(--grey);
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
