.label {
  align-self: baseline;
  font-size: 1.15rem;
  line-height: var(--leading-dense);
  color: var(--color-white);
  margin-bottom: 8px;
  animation: global(fade-up) 0.5s ease-in-out 0.6s both;
  &:not(:first-of-type) {
    margin-top: 25px;
  }
}

.input {
  width: 100%;
  display: block;
  font-size: 1.25rem;
  line-height: var(--leading-tight);
  padding: 10px 15px;
  border-radius: var(--radius-3);
  border: 0;
  outline: 0;
  animation: global(fade-up) 0.5s ease-in-out 0.6s both;

  &:focus,
  &:focus-visible {
    box-shadow: var(--shadow-glow);
  }
}

.message {
  align-self: baseline;
  font-weight: var(--text-medium);
  color: var(color-red-300error);
  margin-block-start: 6px;
}

.globalMessage {
  align-self: center;
  font-size: 1.2rem;
  font-weight: var(--text-bold);
  margin-top: 15px;
  color: var(--color-red-300);
}
