/* === MAP === */
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  height: 80vh;
  width: 90vw;
  z-index: 90;
  outline: 0;
}

/* === OVERLAY === */
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
}

.overlayMessage {
  font-size: 1.5rem;
  font-weight: var(--text-bold);
  color: var(--color-gray-800);
}
