/* MAP */
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  height: 80vh;
  width: 90vw;
  z-index: 90;
  outline: 0;
}

/* LEGEND */
.legend {
  position: absolute;
  bottom: 2%;
  right: 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  height: auto;
  font-size: 1.1rem;
  color: var(--color-gray-200);
  background-color: var(--color-gray-700);
  padding: 18px;
  border-radius: var(--radius-2);
  overflow: hidden;
  box-shadow: var(--shadow-base);
  z-index: 100;
}

.legendButton {
  display: flex;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hr {
  border: none;
  height: 1px;
  background-color: var(--color-gray-300);
  margin-block: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;

  & label {
    display: flex;
    gap: 8px;
  }
}

.indicator {
  width: 13px;
  height: 13px;
  &.indicator--green {
    background-color: var(--color-green-400);
  }
  &.indicator--orange {
    background-color: var(--color-orange);
  }
  &.indicator--red {
    background-color: var(--color-red-400);
  }
}

.timeRoute {
  font-weight: var(--text-bold);
}
