:global(.leaflet-control-geosearch.leaflet-geosearch-bar) {
  width: 450px;
  margin-top: 12px;

  & form {
    display: grid;
    grid-template-columns: 1fr 36px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--grey) !important;
  }

  & input {
    min-width: 0 !important;
    font-size: 1.125rem;
    font-weight: 400;
    height: 36px !important;
    border: none;
    outline: 0;
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: clip;
  }

  & button {
    position: relative !important;
    height: 36px !important;
    width: 36px !important;
    font-size: 1.5rem;
    font-weight: 500 !important;
    outline: 0;
    &:hover {
      color: var(--red);
    }
    &:focus-visible {
      background-color: var();
      color: var(--red);
    }
  }
}

:global(.leaflet-control-geosearch .results.active) {
  overflow-x: hidden !important;
  grid-column: span 2;
}
